html, body { height: 100%; }
body { position:relative; overflow-x:hidden; margin:0; padding:0; background:white; }
body > #container { overflow-x: hidden; position: relative; height: auto !important; min-height: 100%; }
#main { position:relative; height:100vh; margin-left: auto; margin-right: auto;}
.bg-wrap { overflow-y: auto; background: url('../images/gate/bg_main_kica.png') no-repeat center center; background-size: cover; }
#main .bg-img { width:100%; min-height: 100%; overflow-y: auto; }
#header { z-index:2; position:absolute; left:auto; right:auto; min-width:100%; height:100px; }
#header > div { position:relative; max-width:1314px; margin-left:auto; margin-right:auto; }
#header h1 { display:inline-block; }
#header h1 img { width:230px; }
#header a img { width:170px; }
#header a { position:absolute; right:0; top:0; }
#main .slogan { z-index:2; position:absolute; top:150px; left:0; right:0; text-align:center; font-size:60px; }
.rolling {  margin-left:auto; margin-right:auto; }
.rolling .swiper-slide { text-align:left; }
.rolling .bg-blue { 
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background-image: url('../images/gate/img_human_1.png') , linear-gradient(180deg, #3884E3 0%, #22BAE4 100%);
  background-repeat: no-repeat , repeat;
  background-size: 184px auto , auto;
  background-position: 170px bottom , 0 0;
}
.rolling .bg-orange { 
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background-image: url('../images/gate/img_human_2.png') , linear-gradient(180deg, #F25C31 0%, #F59A26 100%);
  background-repeat: no-repeat , repeat;
  background-size: 182px auto , auto;
  background-position: 170px bottom , 0 0;
}
.rolling .bg-white { 
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background-image: url('../images/gate/img_human_3.png') , linear-gradient(180deg, #fff 0%, #fff 100%);
  background-repeat: no-repeat , repeat;
  background-size: 219px auto , auto;
  background-position: 170px bottom , 0 0;
}

.rolling .bg-white.fea1 { 
  background-image: url('../images/gate/logo_fea1.png') , linear-gradient(180deg, #fff 0%, #fff 100%);  
  background-size: 85px auto , auto;
  background-position: 85% 95% , 0 0;
}
.rolling .bg-white.fea2 { 
  background-image: url('../images/gate/logo_fea2.png') , linear-gradient(180deg, #fff 0%, #fff 100%);  
  background-size: 120px auto , auto;
  background-position: 85% 94% , 0 0;
}
.rolling .bg-white.fea3 { 
  background-image: url('../images/gate/logo_fea3.png') , linear-gradient(180deg, #fff 0%, #fff 100%);  
  background-size: 48px auto , auto;
  background-position: 85% 95% , 0 0;
}

.bg-white p.round { border:1px solid #1372C9!important; color:#1372C9; }
.bg-white div > dl > dt { color:#1372C9; } 
.bg-white div > dl > dd,
.bg-white div > dl > dd > span { color:#666; }

/* 23/10/24 웹접근성 구조변경 관련 s */
.swiper-slide-first .bg:hover dt,
.swiper-slide-first .bg:hover dd,
.swiper-slide-first .bg:hover p { color:white; }
.swiper-slide-second .bg:hover dt,
.swiper-slide-second .bg:hover dd,
.swiper-slide-second .bg:hover p { color:white; }
/* 23/10/24 웹접근성 구조변경 관련 e */

.rolling .bg { z-index: 3; position:absolute; left: 0; top: 0; } /* 23/07/25 PC만 적용 */
.swiper-slide-active { z-index:5!important; }
.swiper-slide-next { z-index:4!important; }
.rolling .bg.bg-blue { z-index:5; }
.rolling .bg.bg-orange { z-index:4!important; }
.rolling .right .cont > div { gap: 20px; }
.rolling .right .cont > div+div { padding-top:8px; }
.rolling .right .cont > div li+li { padding-top:10px; }
.rolling .right .cont div div a { display:block; width:100%; background: url('../images/gate/arr_right.png') no-repeat right 7px / 16px auto; }
.rolling .right .cont div a:hover { color:white; }
.rolling .right .cont2 { margin-top:40px; }
.rolling .right .cont ul li { /* width:140px; */ width:155px; }
.rolling .right .cont ul li a { font-size:22px; font-weight:500; }
.rolling .right .cont ul li a:hover { color:white; }
.rolling .right .cont { position:relative; }
.rolling .right .cont dl:after { 
  content: '';
  background: url('../images/gate/img_hand1.png') no-repeat right bottom / 60px auto;
  position: absolute;
  right: 0;
  bottom: 0;
  width:69px; height:73px;
  border-bottom-right-radius: 15px;
}
.rolling .right .cont2 dl:after { 
  background: url('../images/gate/img_hand2.png') no-repeat right bottom / 60px auto;
}
.rolling .right .cont dl { 
  position: relative;
  width:180px; height:180px;
  padding:20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.15);
}
.rolling .right .cont dl dt {   
  font-size: 16px;
  line-height: 24px;
}
.rolling .right .cont dl dd { font-size: 32px; font-weight:700; }
.rolling .btn { 
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  width: 100%;
  max-width: 1314px;
  margin: 0 auto;
}
.rolling .btn:active, 
.rolling .btn:focus,
.rolling .btn:link,
.rolling .btn:visited { border: none; outline: none; border-color: none; -webkit-box-shadow: none; box-shadow: none; }
.rolling .bg p.round { font-weight:500; }
.bg .right { position:absolute; right:0; top:0; /* opacity:0; */ display:none; transition: opacity .15s linear; }
.bg.on .right { opacity: 1; display:block; left:350px; }
.bg.bg-white ul li { /* width:320px; */ margin-top:20px; }
.bg.bg-white ul li+li { margin-top:15px; }
.bg.bg-white ul li+li a { background: url('../images/gate/arr_r_blk.png') no-repeat right center / 20px auto; }
.bg.bg-white li > a { display:inline-block; width:170px; background: url('../images/gate/arr_r_orange.png') no-repeat right center / 20px auto; font-size:18px; font-weight:700; color:#222; }
.bg.bg-white a.text-orange { color:#F18700; }
.feature.fea1 { background: url('../images/gate/arr_r_orange.png') no-repeat right center / 20px auto; }
.rolling .bg .feature > dl > dt { font-weight:700; }
.rolling .bg .feature > dl > dd { font-weight:500; }
.rolling .bg .fea1 { background: url('../images/gate/arr_r_orange.png') no-repeat right center / 20px auto; }
.rolling .btn { border: 0; }  
.cert #btn-right li.btn-next a:hover { background: linear-gradient(124.38deg, #13C9BE 17.27%, #24B8E4 100%); }
.cert #btn-right a:hover {
  display:inline; 
  background: #2E2E2E;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.14);
  border-radius: 999px;
  border-radius: 999px;
  -webkit-transition: width .5s; /* For Safari 3.1 to 6.0 */
  transition: width .5s;
  width: calc(100% - 0%);
}
.cert #btn-right a:hover span {
  overflow: hidden;
  position: relative;
  opacity: 1;
  height: 50px;
  width: auto;
}
.cert #btn-right { 
  z-index: 2;
  position:fixed; right:50px; top:inherit;
  bottom: 50px;
  transform: inherit!important;
}
.cert #btn-right { z-index:6; position:fixed; }
.cert #btn-right .inner { position:relative; width:165px; }
.cert #btn-right ul li { position:relative; /* width:50px; */ height:50px; line-height:50px; }
.cert #btn-right ul li+li { margin-top:15px; }
.cert #btn-right ul li.btn-next span { padding-right:20px; }
.cert #btn-right a {
  display:inline; 
  width: auto;
  position:absolute; right:0; top:0; bottom:0;
  width:50px;
  height:50px; line-height:50px;
  text-align:center;
  background: #2E2E2E;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.14);
  border-radius: 999px;
  -webkit-transition: width .5s; /* For Safari 3.1 to 6.0 */
  transition: width .5s;
}
.cert #btn-right img { position:absolute; right:15px; top:15px; width:20px; height:auto; vertical-align: middle; }
.cert #btn-right a span { 
  display: block;
  overflow: hidden;
  position: relative;
  height: 50px;
  opacity: 0;
  padding-right:40px;
  font-size:18px; font-weight:700; color:white;
  text-wrap: nowrap;
}
.cert #btn-right li.btn-next a { background: linear-gradient(124.38deg, #13C9BE 17.27%, #24B8E4 100%); }

@media screen and (min-width : 1110px) and (max-width : 1314px) {
  .rolling .swiper-button-prev { /* left:15px!important; */ }
  .rolling .swiper-button-next { /* right:15px!important; */ }
  #header div > a { right:20px }
  #header h1 { margin-left:20px; }
}
.swiper-notification { display:none; } /* 23/10/24 텍스트 숨김 처리 */
/* 게이트 태블릿 PC 형태로 변경 23/07/20 s */
/* PC 데스크탑 */
@media (min-width: 1025px) {
  .bg-wrap { width:100%; min-height: 100%; position: fixed; }
  #header > div { margin-top:40px; }
  #main { max-width: 1920px; margin-bottom:100px; }/* 23/07/26 하단여백 */
  #main .slogan { letter-spacing: -1px; }
  #main .slogan dt span { display:inline; }
  #main .slogan dt { font-size:60px; font-weight:400; word-break: keep-all; }
  #main .slogan dd { font-size:30px; font-weight:400; word-break: keep-all; }
  #main .slogan span { font-weight:500; }
  #main .slogan dt strong { font-weight:600; }
  .rolling { z-index:2; position:absolute; top:350px; left:0; right:0; text-align:center; }
  .rolling .inner { overflow:hidden; width:1110px; margin:0 auto; }
  .rolling .swiper-button-prev { left:0; width:72px; height:72px; background: url('../images/gate/btn_prev.png') no-repeat center center / 72px auto; }
  .rolling .swiper-button-next { right:0; width:72px; height:72px; background: url('../images/gate/btn_next.png') no-repeat center center / 72px auto; }
  .rolling .swiper-button-next:after, .rolling .swiper-button-prev:after { font-size:0; }
  .rolling .swiper-container { min-height:250px; }
  .rolling .swiper-slide .bg { overflow:hidden; height:500px; max-height:500px; border-radius: 50px; }
  .rolling .bg .w-100 div.d-flex { margin:60px 20px 40px 0px; }
  .rolling div.bg-white > div > a { display:inline-block; }
  .rolling div.bg-white > div > a,
  .rolling div.bg-white > div > div { margin-left:40px!important; margin-top:60px!important; }
  .rolling div.bg-white2 div a { margin-top:40px!important; }
  .rolling .bg .w-100 div.left { margin:60px 20px 40px 40px; }
  .rolling .bg.on .w-100 div.right { margin:0px 20px 40px 0px; }
  .rolling .bg .w-100 div.right div.d-flex { margin-left:0px; margin-top:40px!important; }
  .rolling .bg .w-100 .left a { display:inline; outline: 0; color:white; }
  .rolling .bg .w-100 .right a { color:white; }
  .rolling .bg .w-100 div.right .pc-break { margin-top:0!important; }

  .rolling .bg p.round { display:inline-block; padding:4px 20px; font-size:20px; border:1px solid white; border-radius: 100px; }
  .rolling .bg div a dl > dt,
  .rolling .bg div dl > dt { font-size:40px; font-weight:500; }
  .rolling .bg div a dl > dd,
  .rolling .bg div dl > dd { font-size:24px; }
  .rolling .bg div a dl > dd > span,
  .rolling .bg div dl > dd > span  { display:block; letter-spacing:-0.05em; line-height: 34px;}
  .rolling .swiper-slide { height:500px; }
  .rolling .bg div a dl > dd { margin-top:10px; }
  .rolling .bg.bg-blue:hover,
  .rolling .bg.bg-orange:hover { width: 725px; color:white; }

  /* 23/10/24 접근성 s */
  .rolling .swiper-slide-first:focus-within .bg-blue,
  .rolling .swiper-slide-second:focus-within .bg-orange { display: block; width: 725px; }
  .rolling .swiper-slide-first:focus-within .bg .right,
  .rolling .swiper-slide-second:focus-within .bg .right { display: block; }
  /* 23/10/24 접근성 e */

  .mobile-break { display:none!important; }
  .rolling .bg {
    width: 350px;
    height: 500px;
  }
  .rolling .right .cont dl { min-width:180px; min-height:180px; }
  .rolling .bg {
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
}

/* 태블릿 */
@media screen and (min-width : 768px) and (max-width : 1024px) {
  #header h1 { margin-left:30px; }  
  .bg-wrap { width:100%; min-height: 100%; position: fixed; }
  #header { position:fixed; }
  #header > div { margin-top:40px; }
  #main { /* max-width: 1920px; */ }
  #main .slogan { position: fixed; letter-spacing: -1px; top:15%; }
  #main .slogan dt span { display:inline; }
  #main .slogan dt { font-size:40px; font-weight:400; word-break: keep-all; }
  #main .slogan dd { font-size:30px; font-weight:400; word-break: keep-all; }
  #main .slogan span { font-weight:500; }
  #main .slogan dt strong { font-weight:600; }
  .rolling { z-index:2; position:absolute; top:30%; left:30px; right:30px; text-align:center; }
  .rolling .btn { display:none; }
  .rolling .inner { /* overflow:hidden; */ width:100%; margin:0 auto; }
  .rolling .swiper-button-prev { left:0; width:72px; height:72px; background: url('../images/gate/btn_prev.png') no-repeat center center / 72px auto; }
  .rolling .swiper-button-next { right:0; width:72px; height:72px; background: url('../images/gate/btn_next.png') no-repeat center center / 72px auto; }
  .rolling .swiper-button-next:after, .rolling .swiper-button-prev:after { font-size:0; }
  .rolling .swiper-container { min-height:250px; -webkit-transform: translate3d(0,0,0); }
  .rolling .swiper-wrapper { -webkit-transform: translate3d(0,0,0); }
  .rolling .swiper-slide .bg { overflow:hidden; width:100%; height:500px; max-height:500px; border-radius: 50px; }
  .rolling .bg .w-100 div { margin:30px 20px 40px 30px; color:white; }
  .rolling .bg .w-100 div.right { /* margin:0px 20px 30px 0; */ margin:0px 0px 30px 0; } /* 23/10/26 간격수정 */
  .rolling .bg .w-100 div.right .pc-break { margin-top:0!important; }
  .rolling .bg .w-100 div.right .cont { margin-right:0; }
  .rolling .bg .w-100 div.right .cont .d-flex { margin-right:0; }
  .rolling .bg p.round { display:inline-block; padding:4px 20px; font-size:20px; border:1px solid white; border-radius: 100px; }
  .rolling .bg div a dl > dt,
  .rolling .bg div dl > dt { font-size:40px; font-weight:500; }
  .rolling .bg div a dl > dd,
  .rolling .bg div dl > dd { font-size:24px; }
  .rolling .bg div a dl > dd > span,
  .rolling .bg div dl > dd > span  { display:block; letter-spacing:-0.05em; line-height: 34px;}

  /* 23/10/24 접근성 s */
  .rolling .swiper-slide-first:focus-within .bg-blue,
  .rolling .swiper-slide-second:focus-within .bg-orange { display: block; width: calc(200% - -30px); }
  .rolling .swiper-slide-first:focus-within .bg .right,
  .rolling .swiper-slide-second:focus-within .bg .right { display: block; }
  /* 23/10/24 접근성 e */

  .rolling .swiper-slide { height:500px; }
  .rolling .bg div > dl > dd { margin-top:10px; }
  .rolling .bg.bg-blue.on,
  .rolling .bg.bg-orange.on { width: calc(200% - -30px); }
  .rolling .bg.bg-orange { right:0; left: auto; }

  .swiper-slide-active { /* z-index: 2!important; */ }
  .swiper-slide-active.on { /* z-index:8!important; */ }
  .swiper-slide-active.on .bg-blue { z-index:8!important; }
  .swiper-slide-active.on .bg-blue.on { z-index:8!important; }

  .swiper-slide-next { z-index: 3!important; }
  .swiper-slide-next.on { z-index:7!important; }
  .swiper-slide-next.on .bg-orange { z-index:7!important; }
  .swiper-slide-next.on .bg-orange.on { z-index:8!important; }
  
  .tp-lst .point span+span { top:18px; }
  .mobile-break { display:none!important; }
  .rolling .right .cont dl { min-width:180px; min-height:180px; }
  .swiper-pagination.num { position:fixed; bottom:auto!important; transform: translateY(3600%); /* bottom:-50px; */ } /* 23/10/25 버튼 높이 수정 */
  .bg.on .right { left:inherit; }
  .rolling:root { --swiper-theme-color: #1372C9; }
  .rolling .right .cont > div { gap:0; }
}
/* 23/07/20 e */

@media screen and (min-width : 1026px) and (max-width : 1310px) {
  .cert #btn-right { right:10px; }
}

@media screen and (min-width : 1026px) and (max-width : 1109px) {
  /* .rolling .swiper-container { height: 55vw!important; } */
}

@media screen and (min-width : 768px) and (max-width : 1024px) {
  /* .rolling .swiper-container { height: 70vw!important; }
  #main { height: calc(100vh - -170px); } */
}

/* Mobile(모바일) */ /* 태블릿 삭제 23/07/20 */
@media (max-width: 767px) {
  div#header { z-index:2; padding:0 25px; }
  .bg-wrap { width:100%; height:100%; position: fixed; }
  #main .bg-img { 
    z-index: 1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  #main .bg-img .img { 
    width:100%;
    height:100%;
    z-index:0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
	#main .bg-img .inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	}
  .bg-wrap .img.pc {
    display: none;
  }
  #header > div { margin-top:13px; }
  #header > div > a { display:none; }
  #header h1 img { width:115px; }
  #main .slogan { top:60px; margin:0 25px; text-align:left; }
  #main .slogan dt { font-size:30px; font-weight:400; line-height:40px; }
  #main .slogan dt strong { font-weight:600; }
  #main .slogan dd { margin-top:10px; font-size:16px; font-weight:400; }
  #main .slogan span { font-weight:500; }
  #main .slogan dl span { display:block; }
  .rolling { z-index:2; position:absolute; top:220px; left:0; right:0; text-align:center; }
  .rolling .swiper-slide .bg { overflow:hidden; height:150px; width:inherit; /* max-height:150px; */ border-radius: 15px;
    -moz-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    -webkit-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
  }
  .rolling .inner { /*overflow:hidden;*/ margin:0 25px; }
  .rolling .swiper-container { height: 132vw; }
  /* .rolling .swiper-slide { width:80%; height:150px; } */
  .rolling .swiper-slide { height: calc((100% - 50px) / 3) !important; }
  .rolling .bg p.round { font-size:12px; }
  .swiper-button-prev,
  .swiper-button-next { display:inline-block; position:inherit; left:inherit; right: 0; }
  .swiper-button-prev { width:50px; height:50px; background: url('../images/gate/btn_prev_mo.png') no-repeat center center / 50px auto; }
  .swiper-button-next { right:0; left:0; width:50px; height:50px; background: url('../images/gate/btn_next_mo.png') no-repeat center center / 50px auto; }
  .rolling .btn { top:-45px; left: auto; right: 50px; width: inherit; margin: inherit; }
  .swiper-button-next:after,
  .swiper-button-prev:after { opacity:0; }
  .rolling .bg > .w-100 > div { margin:20px; color:white; }
  .rolling .bg > .w-100 > div.right { display: flex; justify-content: center; align-items: center; gap: 10px; margin-top:45px; color:white; }
  .rolling .bg.bg-orange > .w-100 > div.right { margin-top:27px; }
  .rolling .bg p.round { display:inline-block; padding:4px 15px; font-size:12px; border:1px solid white; border-radius: 100px; }
  .rolling .bg div a dl > dt { margin-top:5px; font-size:24px; font-weight:700; }
  .rolling .bg div a dl > dd { font-size:14px; }
  .rolling .bg div a dl > dd > span { display:block; letter-spacing:-0.05em; line-height:17px; font-weight:400; }

  /* 23/10/24 웹접근성 구조변경 관련 s */
  .rolling .bg div dl > dt { margin-top:5px; font-size:24px; font-weight:700; }
  .rolling .bg div dl > dd { font-size:14px; }
  .rolling .bg div dl > dd > span { display:block; letter-spacing:-0.05em; line-height:17px; font-weight:400; }
  /* 23/10/24 웹접근성 구조변경 관련 e */

  /* 23/10/24 접근성 s */
  .rolling .swiper-slide-first:focus-within .bg-blue,
  .rolling .swiper-slide-second:focus-within .bg-orange { display: flex; height: calc(100% - -160px); }
  .rolling .swiper-slide-first:focus-within .bg .right,
  .rolling .swiper-slide-second:focus-within .bg .right { display: flex; }
  /* 23/10/24 접근성 e */
  
  .pc-break { display: none!important; }
  .rolling .bg.bg-blue.on,
  .rolling .bg.bg-orange.on {
    /* height: 316px; */ 
    height: calc(100% - -160px);
  }
  .rolling .bg-blue { 
    background-size: 100px auto , auto;
    background-position: 220px 32px , 0 0;
  }
  .rolling .bg-orange { 
    background-size: 100px auto , auto;
    background-position: 220px 35px , 0 0;
  }
  .rolling .bg-white { 
    background-size: 100px auto , auto;
    background-position: 220px bottom , 0 0;
  }
  .rolling .bg-white.fea1 { 
    background-size: 53px auto , auto;
    background-position: 90% 90% , 0 0;
  }
  .rolling .bg-white.fea2 {
    background-size: 60px auto , auto;
    background-position: 90% 90% , 0 0;
  }
  .rolling .bg-white.fea3 {
    background-size: 24px auto , auto;
    background-position: 90% 90% , 0 0;
  }
  .rolling .right { position:inherit; }
  .rolling .right .cont { width:100%; }
  .rolling .right .cont dl { width:100%; height:100px; padding:10px; }
  .rolling .right .cont > div { gap: 15px; }
  .rolling .right .cont > div > div+div { padding-top:8px; }
  .rolling .right .cont > div > div li+li { padding-top:10px; }
  .rolling .right .cont2 { margin-top:0px; }
  .rolling .right .cont ul li { width:140px; }
  .rolling .right .cont ul li a { font-size:22px; font-weight:500; }
  .rolling .right .cont dl dt {   
    font-size: 14px;
    line-height: 24px;
    font-weight:400;
  }
  .rolling .right .cont dl dd { font-size: 20px; }
  .rolling .right .cont dl:after { 
    background-size: 40px auto;
    width:69px; height:73px;
  }
  .rolling .right .cont div a { display:block; width:100%; background:none; }
  .feature { margin:20px; }
}

/* 폴드(fold)+저해상도 */
@media screen and (max-width:360px) {
  #main .slogan dt {
    font-size: 20px;
    line-height: 30px;
  }
  #main .slogan dd {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
  }
  div#header { padding:0 15px; }
  #main .slogan { margin:0 15px; }
  .rolling .btn { top: -32px; right:40px; }
  .rolling .inner {
    margin: 0 15px;
  }
  .rolling { top: 185px; }
  .swiper-button-prev, .swiper-button-next { width:45px; height:45px; background-size: 40px auto; }
  .rolling .bg-blue {
    background-size: 80px auto , auto;
    background-position: 95% 50px , 0 0;
  }
  .rolling .bg-orange {
    background-size: 80px auto , auto;
    background-position: 95% 52px , 0 0;
  }
  .rolling .bg-white {
    background-size: 80px auto , auto;
    background-position: 95% 52px , 0 0;
  }
  .rolling .bg > .w-100 > div {
    margin: 15px;
  }
  .rolling .swiper-slide .bg {
    height: 130px;
  }
  .rolling .swiper-container {
    height: 155vw;
  }
  .rolling .bg.bg-blue.on, .rolling .bg.bg-orange.on {
    height: 268px;
  }
  .rolling .bg div > dl > dt {
    font-size: 19px;
  }
  .rolling .bg div > dl > dd {
    font-size: 12px;
  }
}
/* Galaxy S5 */
@media screen and (min-width : 360px) and (max-width : 360px) {
  .rolling .swiper-container {
    height: 120vw;
  }
}