.primary-color {
  background-color: #004C9D;
}

.skyblue-color {
  background-color: #0092D7;
}

.sub-red-color {
  background-color: #EA5705;
}

.cp-color ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.cp-color ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}
.cp-color ul li h1 {
  padding-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
}
.cp-color ul li span {
  display: inline-block;
  width: 10rem;
  height: 1.5rem;
  /* border-top-left-radius:.3rem;
  border-top-right-radius:.3rem; */
  border-radius: 0.2rem;
}

/*-------------------------------------------------------------------
	button
-------------------------------------------------------------------*/
.btn {
  flex: none;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding: 0px;
  border: 0px;
  font-weight: normal;
  cursor: pointer;
  line-height: 1.8rem;
  transition: all 0.3s;
  font-size: 1.5rem;
  /* :hover:not(:disabled) {
  } */
  /* &.__primary:hover,
  &.__primary:focus {
    background: $main-blue;
    border-color: $main-blue;
  } */
  /* &.__gray:hover,
  &.__gray:focus {
    background-color: #ddd;
    border-color: #eee;
    color: #000
  } */
  /* &.__white.primary:hover,
  &.__white.primary:focus {
    border-color: #ea1b00
  }
  */
  /* &.__gray.primary:hover,
  &.__gray.primary:focus {
    background: #ea1b00;
    border-color: #ea1b00
  } */
}
.btn > strong {
  font-weight: bold;
}
.btn.__primary {
  background: #004C9D;
  border-color: #004C9D;
  color: #fff;
  padding: 1.4rem 1.6rem;
  border: 1px solid #004C9D;
}
.btn.__primary._line {
  background: white;
  border-color: #004C9D;
  color: #004C9D;
  padding: 1.4rem 1.6rem;
  border: 1px solid #004C9D;
}
.btn.wide {
  width: 100% !important;
  height: 6rem;
}
.btn.wide-sub {
  width: auto;
  height: 4.6rem;
}
.btn.__gray {
  padding: 1.4rem 1.6rem;
  background-color: #eee;
  border: 1px solid #eee;
  color: #222;
}
.btn:disabled {
  opacity: 0.5;
}
.btn._round-8 {
  border-radius: 0.8rem;
}
.btn._round-30 {
  border-radius: 3rem;
}
.btn.__white {
  padding: 1.4rem 1.6rem;
  background-color: #fff;
  border: 1px solid #bbb;
  color: #222;
}
.btn.__white:hover, .btn.__white:focus {
  border-color: #222;
  color: #000;
}
.btn.__gray {
  padding: 1.4rem 1.6rem;
  background-color: #eee;
  border: 1px solid #eee;
  color: #222;
}
.btn.__gray:hover, .btn.__gray:focus {
  background-color: #bbb;
  border-color: #eee;
  color: #000;
}
.btn.__white.primary {
  border-color: #004C9D;
  color: #004C9D;
}
.btn.__gray.primary {
  background: #004C9D;
  border-color: #004C9D;
  color: #fff;
}

.btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* .form-select {
     height: 45px;
     padding: 0 15px;
     border: 1px solid #ddd;
     border-radius: .8rem;
     box-shadow: 1px 1px 2px 0px rgba(200, 200, 200, .3);
     line-height: 22px;
     transition: all .3s;
     padding-right: 45px;
     @include image-style("../_common/img/icon/caret_down.png", 1.6rem auto, no-repeat, calc(100% - 1.5rem), center );
   }
  */
}
.btn-wrap.btn-ov .btn:hover,
.btn-wrap.btn-ov .btn:focus {
  border-color: #004C9D;
  color: #004C9D;
  font-weight: 500;
}
.btn-wrap.flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.btn-wrap.flex-wrap > button {
  display: block;
  flex: 1 0 0;
}
.btn-wrap.flex-wrap > button + button {
  margin-left: 0.85rem;
}
.btn-wrap.btn-chk button {
  text-align: left;
  background-image: url("../_common/img/icon/checkbox_off.svg");
  background-size: 3rem auto;
  background-repeat: no-repeat;
  background-position: calc(100% - 1.2rem), center;
}
.btn-wrap.btn-chk button:hover, .btn-wrap.btn-chk button:focus {
  background-image: url("../_common/img/icon/checkbox_on.svg");
  background-size: 3rem auto;
  background-repeat: no-repeat;
  background-position: calc(100% - 1.2rem), center;
  border-color: #004C9D;
  color: #004C9D;
  font-weight: 500;
}
.btn-wrap button::-moz-focus-inner {
  border: 0px;
  padding: 0px;
}
.btn-wrap .button-area {
  display: flex;
}
.btn-wrap .button-group {
  display: flex;
  flex: none;
}
.btn-wrap .button-fluid {
  flex-wrap: wrap;
}
.btn-wrap .button-fluid .button {
  width: 100%;
}
.btn-wrap .button-flex .button {
  flex: 1;
}
.btn-wrap .button.text.text {
  line-height: 22px;
}
.btn-wrap .button.text.text:disabled {
  opacity: 0.5;
}
.btn-wrap .button.text.text.primary {
  color: #004C9D;
}
.btn-wrap .button.icon-search {
  width: 40px;
  height: 40px;
}
.btn-wrap .button-pager {
  width: 20px;
  height: 20px;
  line-height: 18px;
  border: 1px solid #ddd;
}
.btn-wrap .button-top {
  width: 50px;
  height: 50px;
  line-height: 48px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

/*-------------------------------------------------------------------
	Label
-------------------------------------------------------------------*/
.label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 1.4rem;
}
.label.style-1 {
  line-height: 22px;
  padding: 0 8px;
  background: #444;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #fff;
  min-width: 6rem;
  max-width: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label.style-1.primary {
  background: #004C9D;
}
.label.style-2 {
  line-height: 22px;
  padding: 0 8px;
  background: #fff;
  border: 1px solid #444;
  color: #444;
}
.label.style-2.primary {
  border: 1px solid #004C9D;
  color: #004C9D;
}
.label.style-3 {
  line-height: 22px;
  padding: 0 8px;
  background: #444;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #fff;
  border-radius: 0.4rem;
}
.label.style-3.primary {
  background: #004C9D;
}
.label.style-4 {
  line-height: 22px;
  padding: 0 8px;
  background: #fff;
  border: 1px solid #444;
  color: #444;
}
.label.style-4.primary {
  border: 1px solid #004C9D;
  color: #004C9D;
}
.label.style-5 {
  line-height: 22px;
  padding: 0 8px;
  background: #444;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #fff;
  border-radius: 30px;
}
.label.style-5.primary {
  background: #004C9D;
}
.label.style-6 {
  line-height: 22px;
  padding: 0 8px;
  background: #fff;
  border: 1px solid #444;
  color: #444;
  border-radius: 30px;
}
.label.style-6.primary {
  border: 1px solid #004C9D;
  color: #004C9D;
}
.label.texted {
  line-height: 22px;
}
.label.texted.primary {
  color: #004C9D;
}

/*-------------------------------------------------------------------
	Etc
-------------------------------------------------------------------*/
.divider {
  display: block;
  border: 0;
  margin: 0;
}
.divider.__h4 {
  height: 4px;
  background-color: #eee;
}
.divider.__h6 {
  height: 6px;
  background-color: #eee;
}
.divider.__h8 {
  height: 8px;
  background-color: #fafafa;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.icon-del {
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("../_common/img/icon/ico_del.svg");
  background-size: 2rem auto;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
}

.icon-search {
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("../_common/img/icon/ico_search.svg");
  background-size: 2rem auto;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
}

.arw-breadcrumb {
  width: 2rem;
  height: 2rem;
  background-image: url("../_common/img/icon/arr_right.svg");
  background-size: 2rem auto;
  background-repeat: no-repeat;
  background-position: left, center;
}

.breadcrumb {
  position: relative;
  display: flex;
  margin: 0 -3rem;
  overflow: hidden;
  line-height: 1;
}
.breadcrumb .item {
  position: relative;
  padding: 0 1rem 0 3rem;
  vertical-align: middle;
}
.breadcrumb .item.is-current {
  color: #004C9D;
  font-weight: 500;
}

.breadcrumb-select .dropdown {
  width: 1.6rem;
}

.breadcrumb-select .dropdown + .dropdown {
  margin-left: 5px;
}

.list-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-toolbar-count {
  color: #999;
}

.list-toolbar-count .total {
  color: #004C9D;
}

.item-list .has-arrow {
  position: relative;
}
.item-list .has-arrow .has-arrow::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}
.item-list .has-arrow .has-arrow::after {
  width: 2rem;
  height: 2rem;
  background-image: url("../_common/img/icon/arr_right.svg");
  background-size: 2rem auto;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
}
.item-list .primary-area {
  display: flex;
  align-items: center;
  width: 100%;
}
.item-list .primary-area .title strong, .item-list .primary-area .text strong {
  font-weight: bold;
}
.item-list .primary-area .check-area, .item-list .primary-area .thumb-area, .item-list .primary-area .avata-area {
  flex: none;
}
.item-list .primary-area .title-area {
  flex: 1 1 auto;
  width: 100%;
}
.item-list .primary-area .thumb-area {
  width: 12rem;
  height: 8rem;
  margin-right: 2rem;
}
.item-list .primary-area .thumb-area.__radio {
  width: 6rem;
  height: 6rem;
}
.item-list .primary-area .avata-area {
  width: 6rem;
  height: 6rem;
  margin-right: 2rem;
}
.item-list .primary-area .title {
  padding-right: 2.5rem;
  font-size: 1.6rem;
  line-height: 28px;
  color: #222;
}
.item-list .primary-area .text {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-right: 3.5rem;
}
.item-list .primary-area .date {
  font-size: 12px;
  color: #666;
}
.item-list .primary-area .info {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #666;
}

.list.__basic {
  border: 1px solid #ddd;
  border-width: 1px 0;
}
.list.__basic .item {
  padding: 1.2rem 1rem;
  line-height: 22px;
}
.list.__basic .item + .item {
  border-top: 1px solid #ddd;
}

.step {
  text-align: center;
}
.step .step-list {
  display: table;
  position: relative;
  margin: auto;
}
.step .step-item {
  display: table-cell;
  position: relative;
  z-index: 1;
}
.step .step-label {
  position: relative;
}
.step.__basic .step-item {
  padding: 0 30px;
}
.step.__basic .step-item .step-label {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding-bottom: 1px;
  line-height: 5.2rem;
  border-radius: 50%;
  background-color: #eee;
}
.step.__basic .step-item.is-on .step-label {
  border: 1px solid #004C9D;
  background-color: #fff;
  color: #004C9D;
}
.step.__basic .step-item.is-current .step-label {
  background-color: #004C9D;
  color: #fff;
}
.step.__flexible .step-list {
  width: 100%;
}
.step.__flexible .step-item {
  height: 5rem;
  padding-bottom: 1px;
  line-height: 5.2rem;
  border: 1px solid #ccc;
  background-color: #eee;
  text-align: center;
}
.step.__flexible .step-item.is-on {
  border: 1px solid #004C9D;
  background-color: #fff;
  color: #004C9D;
}
.step.__flexible .step-item.is-current {
  border: 1px solid #004C9D;
  background-color: #004C9D;
  color: #fff;
}
.step.__flexible .step-item + .step-item {
  border-left-width: 0;
}
.step.__flexible .step-item.is-on + .is-on {
  border-left: 0;
}
.step.__flexible-side .step-list:after {
  content: "";
  position: absolute;
  left: 0;
  top: 24px;
  width: 100%;
  height: 2px;
  background-color: #eee;
}
.step.__flexible-side .step-item {
  width: 25%;
}
.step.__flexible-side .step-item .step-label {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  padding-bottom: 1px;
  line-height: 49px;
  border-radius: 50%;
  background-color: #eee;
  text-align: center;
}
.step.__flexible-side .step-item .step-label .ico-check {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 3px solid #999;
  border-width: 3px 3px 0 0;
  transform: translate(-50%, -50%) rotate(45deg);
}
.step.__flexible-side .step-item .is-on .step-label {
  border: 1px solid #004C9D;
  background-color: #fff;
  color: #004C9D;
}
.step.__flexible-side .step-item .step-item.is-on .step-label .ico-check {
  width: 18px;
  border-color: #004C9D;
  transform: translate(-50%, -50%) rotate(135deg);
}
.step.__flexible-side .step-item .step-item.is-current .step-label {
  background-color: #004C9D;
  color: #fff;
}
.step.__flexible-side .step-item .step-item.is-current .step-label .ico-check {
  width: 18px;
  border-color: #fff;
  transform: translate(-50%, -50%) rotate(135deg);
}

.tbl-group {
  overflow: hidden;
  font-size: 1.4rem;
}
.tbl-group .__basic {
  overflow: hidden;
  margin: 0 -1px;
  border: 1px solid #444;
  border-width: 2px 0 1px 0;
}
.tbl-group .__basic table {
  margin: -1px 0;
}
.tbl-group .__basic th, .tbl-group .__basic td {
  padding: 0.8rem 1.5rem;
  border: 1px solid #ddd;
}
.tbl-group .__basic thead th {
  background-color: #f8fbff;
  text-align: center;
  border-bottom-color: #444;
  font-weight: 600;
}
.tbl-group .__basic tr:first-child th, .tbl-group .__basic tr:first-child td {
  border-top: 0;
}
.tbl-group .__basic tbody th {
  background-color: #f8fbff;
  font-weight: 600;
}
.tbl-group .__basic .th-depth2 {
  background-color: #f9fafd;
}

.tbl {
  overflow: hidden;
  margin: 0 -1px;
}

.tbl > table {
  width: 100%;
  margin: -1px 0;
  table-layout: fixed;
  border-collapse: collapse;
  border: 0;
  border-spacing: 0;
}

.tbl-centered > table > tbody > tr > th,
.tbl-centered > table > tbody > tr > td {
  text-align: center;
}

.tbl-lefted > table > tbody > tr > th,
.tbl-lefted > table > tbody > tr > td {
  text-align: left;
}

.tbl-righted > table > tbody > tr > th,
.tbl-righted > table > tbody > tr > td {
  text-align: right;
}

.tbl-form th,
.tbl-form td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.tbl-form th {
  background-color: #f1f3f9;
}

.tbl-list {
  border-top: 2px solid #444;
  border-bottom: 1px solid #444;
}

.tbl-list th,
.tbl-list td {
  padding: 5px 10px;
  text-align: left;
  line-height: 18px;
  text-align: center;
}

.tbl-list th {
  height: 40px;
  border-bottom: 1px solid #444;
}

.tbl-list td {
  height: 40px;
  border-top: 1px solid #ddd;
}

.tbl-list thead + tbody tr:first-child td {
  border-top: 0;
}

.tbl-list .fixed-data td {
  background-color: #fafafa;
}

.tbl-view {
  border-top: 2px solid #444;
  border-bottom: 1px solid #444;
}

.tbl-view th,
.tbl-view td {
  padding: 10px 20px;
  text-align: left;
  line-height: 18px;
  border-top: 1px solid #ddd;
}

.tbl-view tr:first-child th,
.tbl-view tr:first-child td {
  border-top: 0;
}

.tbl-view th {
  background-color: #f0f0f0;
}

.tbl-view td {
  color: #444;
}

.tbl-pager {
  border-top: 2px solid #444;
  border-bottom: 1px solid #444;
}

.tbl-pager th,
.tbl-pager td {
  padding: 10px 20px;
  text-align: left;
  line-height: 18px;
  border-top: 1px solid #ddd;
}

.tbl-pager tr:first-child th,
.tbl-pager tr:first-child td {
  border-top: 0;
}

.tbl-pager td {
  color: #444;
}

.tbl-header::after {
  content: "";
  clear: both;
  display: block;
}

.tbl-footer::after {
  content: "";
  clear: both;
  display: block;
}

.tbl-header {
  margin-bottom: 10px;
}

.tbl-footer {
  margin-top: 10px;
}

.arw-tooltip1 {
  width: 6px;
  height: 10px;
  background-image: url(../img/cmn/arw_tooltip01.png);
}

.arw-tooltip1.primary {
  background-position: 0 0;
}

.arw-tooltip1.dark {
  background-position: -6px 0;
}

.arw-tooltip1.white {
  background-position: -12px 0;
}

.arw-tooltip1.gray {
  background-position: -18px 0;
}

.arw-select1 {
  width: 11px;
  height: 7px;
  background-image: url(../img/cmn/arw_select01.png);
}

.arw-select1.primary {
  background-position: 0 0;
}

.arw-select1.dark {
  background-position: -11px 0;
}

.arw-select1.white {
  background-position: -22px 0;
}

.arw-select1.gray {
  background-position: -33px 0;
}

.arw-more1 {
  width: 6px;
  height: 10px;
  background-image: url(../img/cmn/arw_more01.png);
  background-size: 24px 10px;
}

.arw-more1.primary {
  background-position: 0 0;
}

.arw-more1.dark {
  background-position: -6px 0;
}

.arw-more1.white {
  background-position: -12px 0;
}

.arw-more1.gray {
  background-position: -18px 0;
}

.arw-board1-first {
  width: 13px;
  height: 14px;
  background-image: url(../img/cmn/arw_board01_first.png);
}

.arw-board1-first.primary {
  background-position: 0 0;
}

.arw-board1-first.dark {
  background-position: -13px 0;
}

.arw-board1-first.white {
  background-position: -26px 0;
}

.arw-board1-first.gray {
  background-position: -39px 0;
}

.arw-board1-last {
  width: 13px;
  height: 14px;
  background-image: url(../img/cmn/arw_board01_last.png);
}

.arw-board1-last.primary {
  background-position: 0 0;
}

.arw-board1-last.dark {
  background-position: -13px 0;
}

.arw-board1-last.white {
  background-position: -26px 0;
}

.arw-board1-last.gray {
  background-position: -39px 0;
}

.arw-board1-next {
  width: 8px;
  height: 14px;
  background-image: url(../img/cmn/arw_board01_next.png);
}

.arw-board1-next.primary {
  background-position: 0 0;
}

.arw-board1-next.dark {
  background-position: -8px 0;
}

.arw-board1-next.white {
  background-position: -16px 0;
}

.arw-board1-next.gray {
  background-position: -24px 0;
}

.arw-slide1-prev {
  width: 23px;
  height: 40px;
  background-image: url(../img/cmn/arw_slide01_prev.png);
}

.arw-slide1-prev.primary {
  background-position: 0 0;
}

.arw-slide1-prev.dark {
  background-position: -23px 0;
}

.arw-slide1-prev.white {
  background-position: -46px 0;
}

.arw-slide1-prev.gray {
  background-position: -69px 0;
}

.arw-slide1-next {
  width: 23px;
  height: 40px;
  background-image: url(../img/cmn/arw_slide01_next.png);
}

.arw-slide1-next.primary {
  background-position: 0 0;
}

.arw-slide1-next.dark {
  background-position: -23px 0;
}

.arw-slide1-next.white {
  background-position: -46px 0;
}

.arw-slide1-next.gray {
  background-position: -69px 0;
}

.arw-slide2-prev {
  width: 9px;
  height: 16px;
  background-image: url(../img/cmn/arw_slide02_prev.png);
}

.arw-slide2-prev.primary {
  background-position: 0 0;
}

.arw-slide2-prev.dark {
  background-position: -9px 0;
}

.arw-slide2-prev.white {
  background-position: -18px 0;
}

.arw-slide2-prev.gray {
  background-position: -27px 0;
}

.arw-slide2-next {
  width: 9px;
  height: 16px;
  background-image: url(../img/cmn/arw_slide02_next.png);
}

.arw-slide2-next.primary {
  background-position: 0 0;
}

.arw-slide2-next.dark {
  background-position: -9px 0;
}

.arw-slide2-next.white {
  background-position: -18px 0;
}

.arw-slide2-next.gray {
  background-position: -27px 0;
}

.arw-toggle {
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("../_common/img/icon/arr_right.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center, center;
}

.acco-item .acco-cont {
  position: relative;
  display: none;
}

.acco-title,
.acco-toggle,
.acco-label {
  display: block;
  position: relative;
  transition: all 0.3s;
}

.acco-toggle .arw {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%) rotate(90deg);
  transition: all 0.3s;
}

.acco-toggle:disabled .arw {
  opacity: 0.5;
}

.acco-item.is-active .acco-toggle .arw {
  transform: translateY(-50%) rotate(-90deg);
}

.acco-basic {
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.acco-basic .acco-toggle {
  display: block;
  width: 100%;
  padding: 10px 20px;
  color: #222;
  text-align: left;
}

.acco-basic .acco-toggle:disabled {
  color: #999;
}

.acco-basic .acco-toggle .arw {
  right: 20px;
}

.acco-basic .acco-label {
  padding-right: 20px;
}

.acco-basic .acco-cont {
  padding: 10px 20px;
  background-color: #fff;
}

.acco-basic .acco-item + .acco-item .acco-title {
  border-top: 1px solid #ddd;
}

.acco-basic .acco-item.is-active .acco-title {
  background-color: #f8f8f8;
}

.acco-basic .acco-item.is-active .acco-toggle {
  color: #222;
}

.acco-basic .acco-item.is-active .acco-toggle .arw {
  opacity: 1;
}

.acco-basic2 {
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.acco-basic2 .acco-toggle {
  display: block;
  padding: 10px 20px;
  color: #222;
}

.acco-basic2 .acco-toggle[disabled] {
  color: #999;
}

.acco-basic2 .acco-toggle .arw {
  opacity: 0.5;
}

.acco-basic2 .acco-label {
  padding-right: 20px;
}

.acco-basic2 .acco-content {
  padding: 10px 20px;
  background-color: #fff;
}

.acco-basic2 .acco-content + .acco-title {
  border-top: 1px solid #ddd;
}

.acco-basic2 .is-active.acco-title {
  background-color: #f8f8f8;
}

.acco-basic2 .is-active.acco-title .acco-toggle {
  color: #222;
}

.acco-basic2 .is-active.acco-title .acco-toggle .arw {
  opacity: 1;
}

.acco-basic3 {
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.acco-basic3 .acco-toggle {
  display: block;
  padding: 10px 20px;
  color: #222;
}

.acco-basic3 .acco-toggle[disabled] {
  color: #999;
}

.acco-basic3 .acco-toggle .arw {
  opacity: 0.5;
}

.acco-basic3 .acco-label {
  padding-right: 20px;
}

.acco-basic3 .acco-content {
  padding: 10px 20px;
  background-color: #fff;
}

.acco-basic3 .acco-content + .acco-title {
  border-top: 1px solid #ddd;
}

.acco-basic3 .is-active.acco-title {
  background-color: #f8f8f8;
}

.acco-basic3 .is-active.acco-title .acco-toggle {
  color: #222;
}

.acco-basic3 .is-active.acco-title .acco-toggle .arw {
  opacity: 1;
}

.paging {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}
.paging .btn:disabled {
  opacity: 1;
  color: inherit;
}
.paging .btn {
  background-color: transparent;
}
.paging.__basic .button {
  min-width: 30px;
  height: 30px;
  padding: 0 5px 1px;
  line-height: 27px;
  border: 1px solid #ddd;
}
.paging.__basic .num-group {
  margin: 0 1.5rem;
}
.paging.__basic .page-group .button + .button, .paging.__basic .num-group li + li {
  margin-left: 0.6rem;
}
.paging.__basic .num-group .button[aria-current=true] {
  color: #ff5400;
  border: 1px solid #ff5400;
}
.paging.__basic .page-group .button:disabled {
  opacity: 0.5;
}
.paging .button-group, .paging .num-group {
  display: flex;
}
.paging .inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.paging .inner .__board-prev {
  width: 8px;
  transform: rotate(180deg);
  background-image: url("../_common/img/icon/arr_right.svg");
  background-size: 2rem auto;
  background-repeat: no-repeat;
  background-position: center, center;
}
.paging .inner .__board-next {
  width: 8px;
  background-image: url("../_common/img/icon/arr_right.svg");
  background-size: 2rem auto;
  background-repeat: no-repeat;
  background-position: center, center;
}

.bold-1 {
  font-weight: 300;
}

.bold-5 {
  font-weight: 500;
}

.bold {
  font-weight: bold;
}

img.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form-button {
  height: 45px;
  padding: 0 15px;
  border: 1px solid #ddd;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 2px 0px rgba(200, 200, 200, 0.3);
  font-size: 14px;
  line-height: 22px;
  transition: all 0.3s;
  flex: none;
}
.form-button:hover {
  border-color: #222;
}
.form-button:focus {
  border-color: #004C9D;
  color: #004C9D;
}
.form-button:disabled {
  background-color: #fafafa;
  opacity: 0.75;
}
.form-button:disabled:hover {
  border-color: #999;
  opacity: 0.75;
}

.form-input {
  height: 45px;
  padding: 0 15px;
  border: 1px solid #ddd;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 2px 0px rgba(200, 200, 200, 0.3);
  font-size: 14px;
  line-height: 22px;
  transition: all 0.3s;
}
.form-input:hover {
  border-color: #222;
}
.form-input:focus {
  border-color: #004C9D;
}
.form-input:disabled {
  background-color: #fafafa;
  opacity: 0.75;
}
.form-input:disabled:hover {
  border-color: #999;
  opacity: 0.75;
}

textarea.form-input {
  height: 45px;
  padding: 0 15px;
  border: 1px solid #ddd;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 2px 0px rgba(200, 200, 200, 0.3);
  font-size: 14px;
  line-height: 22px;
  transition: all 0.3s;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
textarea.form-input.form-input:hover {
  border-color: #222;
}
textarea.form-input.form-input:focus {
  border-color: #004C9D;
  color: #004C9D;
}
textarea.form-input.form-input:disabled {
  background-color: #fafafa;
  opacity: 0.75;
}
textarea.form-input.form-input:disabled:hover {
  border-color: #999;
  opacity: 0.75;
}

.form-select {
  height: 45px;
  padding: 0 15px;
  border: 1px solid #ddd;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 2px 0px rgba(200, 200, 200, 0.3);
  line-height: 22px;
  transition: all 0.3s;
  padding-right: 45px;
  background-image: url("../_common/img/icon/caret_down.svg");
  background-size: 1.6rem auto;
  background-repeat: no-repeat;
  background-position: calc(100% - 1.5rem), center;
}
.form-select:hover {
  border-color: #222;
}
.form-select:focus {
  border-color: #004C9D;
  color: #004C9D;
}
.form-select:disabled {
  background-color: #fafafa;
  opacity: 0.75;
}
.form-select:disabled:hover {
  border-color: #999;
  opacity: 0.75;
}

.form-file {
  position: relative;
  display: inline-block;
}

.form-file input[type=file] {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.form-file .file-hide {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.form-file .file-preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 264px;
  height: 124px;
  border: 1px solid #e1e1e1;
}

.form-file .file-preview img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
}

.form-radio {
  display: inline-block;
  position: relative;
  margin: 5px 0;
  line-height: 1;
  vertical-align: middle;
}
.form-radio.v-chk > input:checked + label:before {
  background-color: inherit;
}
.form-radio.v-chk > input:checked + label:after {
  background-color: inherit;
}
.form-radio.v-chk > input:checked + label:before {
  background-image: url("../_common/img/icon/ico_radio_on.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center, center;
  border: none;
}
.form-radio.v-chk > input[disabled] + label:before {
  background-image: url("../_common/img/icon/ico_radio_disable.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center, center;
  border: none;
}
.form-radio.v-chk label:before {
  background-image: url("../_common/img/icon/ico_radio_off.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center, center;
  border: none;
}
.form-radio.v-chk > input:hover + label:before, .form-radio.v-chk > input:focus + label:before {
  border: none;
}
.form-radio label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 20px;
  min-height: 20px;
  line-height: 18px;
  vertical-align: middle;
}
.form-radio label span {
  display: inline-block;
  padding-left: 28px;
}
.form-radio label:before, .form-radio label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.form-radio label:before {
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 50%;
}
.form-radio > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}
.form-radio + .form-radio {
  margin-left: 10px;
}
.form-radio > input:checked + label:before {
  background-color: #fff;
  border-color: #297EFF;
}
.form-radio > input:checked + label:after {
  top: 0.6rem;
  left: 0.6rem;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #297EFF;
}
.form-radio > input.is-focused + label:before, .form-radio > input:hover + label:before, .form-radio > input:focus + label:before {
  border-color: #888;
}
.form-radio > input:checked:focus + label:before, .form-radio > input:checked:hover + label:before {
  border-color: #297EFF;
  transition: all 0.3s;
}
.form-radio > input[disabled] + label {
  color: #999;
}
.form-radio > input[disabled] + label:before {
  background-color: #f0f0f0;
}
.form-radio > input[disabled]:focus + label:before, .form-radio > input[disabled]:hover + label:before {
  border-color: #ddd;
}
.form-radio > input[disabled]:checked + label:after {
  background: #888;
}
.form-radio > input[disabled]:checked + label:before, .form-radio > input[disabled]:checked:focus + label:before, .form-radio > input[disabled]:checked:hover + label:before {
  border-color: #888;
}
.form-radio > input.is-errored + label {
  color: #f52727;
}
.form-radio > input.is-errored + label:before, .form-radio > input.is-errored.is-focused:checked + label:before, .form-radio > input.is-errored:checked:hover + label:before, .form-radio > input.is-errored:checked:focus + label:before {
  border-color: #f52727;
}
.form-radio > input.is-errored:checked + label:before {
  border-color: #f52727;
}
.form-radio .form-radio > input.is-errored:checked + label:after {
  background-color: #f52727;
}

.form-checkbox {
  display: inline-block;
  position: relative;
  margin: 5px 0;
  line-height: 1;
  vertical-align: middle;
}

.form-checkbox label {
  display: inline-block;
  position: relative;
  min-width: 20px;
  min-height: 20px;
  line-height: 20px;
  vertical-align: middle;
}

.form-checkbox label span {
  display: inline-block;
  padding-left: 28px;
}

.form-checkbox label:before,
.form-checkbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

.form-checkbox label:before {
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  background: #fff;
}

.form-checkbox > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}

.form-checkbox + .form-checkbox {
  margin-left: 10px;
}

.form-checkbox > input:checked + label:before {
  border-color: #004C9D;
}

.form-checkbox > input:checked + label:after {
  left: 5px;
  top: 5px;
  width: 10px;
  height: 7px;
  background: none;
  border-left: 2px solid #004C9D;
  border-bottom: 2px solid #004C9D;
  transform: rotate(-45deg);
}

.form-checkbox > input.is-focused + label:before,
.form-checkbox > input:hover + label:before,
.form-checkbox > input:focus + label:before {
  border-color: #888;
}

.form-checkbox > input:checked:focus + label:before,
.form-checkbox > input:checked:hover + label:before {
  border-color: #004C9D;
  transition: all 0.3s;
}

.form-checkbox > input[disabled] + label {
  color: #999;
}

.form-checkbox > input[disabled] + label:before {
  background-color: #f0f0f0;
}

.form-checkbox > input[disabled]:focus + label:before,
.form-checkbox > input[disabled]:hover + label:before {
  border-color: #ddd;
}

.form-checkbox > input[disabled]:checked + label:after {
  border-color: #888;
}

.form-checkbox > input[disabled]:checked + label:before,
.form-checkbox > input[disabled]:checked:focus + label:before,
.form-checkbox > input[disabled]:checked:hover + label:before {
  border-color: #888;
}

.form-checkbox > input.is-errored + label {
  color: #f52727;
}

.form-checkbox > input.is-errored + label:before,
.form-checkbox > input.is-errored.is-focused:checked + label:before,
.form-checkbox > input.is-errored:checked:hover + label:before,
.form-checkbox > input.is-errored:checked:focus + label:before {
  border-color: #f52727;
}

.form-checkbox > input.is-errored:checked + label:before {
  border-color: #f52727;
}

.form-checkbox > input.is-errored:checked + label:after {
  border-color: #f52727;
}

.form-switch + .form-switch {
  margin-left: 10px;
}

.form-switch {
  display: inline-block;
  position: relative;
}
.form-switch label {
  display: inline-block;
  width: 80px;
  vertical-align: top;
}
.form-switch label:before, .form-switch label:after {
  content: "";
}
.form-switch label:before {
  display: inline-block;
  width: 100%;
  height: 30px;
  background-color: #EFF2F9;
  border-radius: 15px;
  vertical-align: top;
}
.form-switch input, .form-switch label:after {
  position: absolute;
  left: 2px;
  top: 50%;
  z-index: 1;
  width: 40px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 13px;
  overflow: hidden;
  background-color: #aaa;
  color: #fff;
  font-size: 12px;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.form-switch input {
  z-index: 0;
  border: 0;
  height: 24px;
}
.form-switch input:checked, .form-switch input:checked + label:after {
  left: calc(100% - 42px);
}
.form-switch input:checked + label:after {
  background-color: #046FD9;
}
.form-switch input + label:after {
  content: "OFF";
}
.form-switch input:checked + label:after {
  content: "ON";
}
.form-switch input[disabled] + label:before {
  background-color: #ddd;
}

.form-label,
.form-text {
  flex: none;
  position: relative;
  padding: 11px 0 11px 0px;
  line-height: 22px;
  vertical-align: middle;
}

.form-label,
span.form-text {
  display: inline-block;
}

.form-label .form-required {
  position: absolute;
  top: 4px;
  right: 5px;
}

.form-split {
  display: inline-block;
  min-width: 24px;
  line-height: 45px;
  text-align: center;
}

.form-alert {
  display: none;
  color: #555;
}

.form-alert.is-visibled {
  display: block;
}

.form-alert.is-errored {
  color: red;
}

.form-alert.is-successed {
  color: #004C9D;
}

.form-desc {
  color: #555;
}

.form-info {
  color: gray;
}

.form.type-row + .form.type-row {
  margin-top: 20px;
}

.form.type-row {
  display: block;
}

.form.type-row .form-content {
  margin-top: 2px;
}

.form.type-row .form-desc,
.form.type-row .form-info,
.form.type-row .form-alert {
  margin-top: 5px;
  line-height: 22px;
}

.form.type-row .form-controls + .form-desc,
.form.type-row .form-controls + .form-info,
.form.type-row .form-controls + .form-alert {
  margin-top: 10px;
}

.form.type-col + .form.type-col {
  margin-top: 20px;
}

.form.type-col {
  display: flex;
  width: 100%;
}

.form.type-col .form-title,
.flexible .form-text {
  width: 5rem;
}

.flexible .form-text {
  margin: 0 8px;
  margin-right: 0;
}
.flexible .form-alert {
  margin: 0 8px;
  margin-right: 0;
}
.flexible .form-alert > p {
  margin-left: 0.8rem;
}
.flexible > .form-input {
  width: calc(33% - 9px);
}

.form.type-col .form-content {
  flex: 1 1 auto;
}

.form.type-col .form-desc,
.form.type-col .form-info,
.form.type-col .form-alert {
  /* margin-top: 5px; */
  line-height: 22px;
}

.form.type-col .form-controls + .form-desc,
.form.type-col .form-controls + .form-info,
.form.type-col .form-controls + .form-alert {
  margin-top: 10px;
}

.form.type-wide + .form.type-wide {
  margin-top: 20px;
}

.form.type-wide {
  display: flex;
}

.form.type-wide .form-title,
.form-title {
  flex: none;
  /* width: 100px; */
}

.form.type-wide .form-content {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
}

.form.type-wide .form-content .form-controls {
  width: auto;
}

.form.type-wide .form-desc,
.form.type-wide .form-info,
.form.type-wide .form-alert {
  flex: none;
  padding-left: 20px;
  line-height: 22px;
}

.form-controls {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.form-controls.flexible .form-select,
.form-controls.flexible .form-input {
  flex: 1 1 auto;
}

.form-controls .form-text {
  margin: 0 8px;
}

.form-controls .form-button {
  margin: 0 8px;
}

.form-controls .form-text:first-child,
.form-controls .form-button:first-child {
  margin-left: 0;
}

.form-controls .form-text:last-child,
.form-controls .form-button:last-child {
  margin-right: 0;
}

.form-controls.type-email2 .form-select {
  width: 47%;
}

.form-controls.type-telNo .form-select,
.form-controls.type-telNo .form-input {
  width: calc(33.333% - 16px);
}

.form-controls.type-email1 .form-input {
  width: calc(50% - 12px);
}

.form-controls.type-email2 .form-select,
.form-controls.type-email2 .form-input {
  width: calc(50% - 12px);
}

.form-controls.type-email3 .form-select {
  width: calc(33% - 9px);
  margin-left: 6px;
}

.form-controls.type-email3 .form-input {
  width: calc(33% - 9px);
}

.form-controls.type-socialNo .form-input {
  width: calc(50% - 12px);
}

.form-controls.type-globalNo .form-input {
  width: calc(50% - 12px);
}

.form-controls.type-corpNo .form-input {
  width: calc(50% - 12px);
}

.form-controls.type-bizNo .form-input {
  width: calc(33.333% - 16px);
}

.form-controls.type-cardNo .form-input {
  width: calc(25% - 18px);
}

.form-controls.type-address {
  flex-direction: column;
}

.form-controls.type-address .row {
  display: flex;
  width: 100%;
}

.form-controls.type-address .row + .row {
  margin-top: 8px;
}

.form-controls.type-address .row .form-input {
  flex-grow: 1;
}

.form-input-group {
  position: relative;
  display: block;
}

.form-input-group .form-input {
  width: 100%;
}

.form-input-group.type-clear {
  width: 100%;
}

.form-input-group.type-clear .button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  background-color: transparent;
}

.form-input-group.type-clear .form-input {
  padding-right: 40px;
}

.type-clear .form-input[type=text]::-webkit-search-cancel-button {
  border: 0;
  display: block;
  right: 45px;
  bottom: 13px;
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("../_common/img/icon/ico_del.svg");
  background-size: 2rem auto;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form-input-group.type-search {
  width: 100%;
}

.form-input-group.type-search .button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  background-color: transparent;
}

.form-input-group.type-search .form-input {
  padding-right: 40px;
}/*# sourceMappingURL=style.css.map */