.g-content-body {
  font-size: 1.5rem;
}

.primary-color {
  background-color: #004C9D;
  color: #004C9D;
}

.skyblue-color {
  background-color: #0092D7;
  color: #004C9D;
}

.sub-red-color {
  background-color: #EA5705;
  color: #004C9D;
}

.cp-color ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.cp-color ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}
.cp-color ul li h1 {
  padding-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
}
.cp-color ul li span {
  display: inline-block;
  width: 10rem;
  height: 1.5rem;
  /* border-top-left-radius:.5rem;
  border-top-right-radius:.5rem; */
  /* border-radius: .5rem; */
}

/*-------------------------------------------------------------------
	button
-------------------------------------------------------------------*/
.button {
  /* &.style-1.primary:hover,
  &.style-1.primary:focus {
    background: #ea1b00;
    border-color: #ea1b00
  } */
  /* &.style-2.primary:hover,
  &.style-2.primary:focus {
    border-color: #ea1b00
  }
  */
  /* &.style-3.primary:hover,
  &.style-3.primary:focus {
    background: #ea1b00;
    border-color: #ea1b00
  } */
  /* &.style-4.primary:hover,
  &.style-4.primary:focus {
    border-color: #ea1b00
  } */
  /* &.style-5.primary:hover,
  &.style-5.primary:focus {
    background: #ea1b00;
    border-color: #ea1b00
  } */
  /* &.style-6.primary:hover,
  &.style-6.primary:focus {
    border-color: #ea1b00
  } */
}
.button {
  line-height: 1.8rem;
}
.button > strong {
  font-weight: 500;
}
.button.style-1.primary {
  background: #004C9D;
  border-color: #004C9D;
  color: #fff;
}
.button.wide {
  height: 6rem;
}
.button.wide-sub {
  width: auto;
  height: 4.6rem;
}
.button.style-2:hover, .button.style-2:focus {
  border-color: #222;
  color: #000;
}
.button.style-2:disabled {
  opacity: 0.5;
}
.button.style-2.primary {
  border-color: #004C9D;
  color: #004C9D;
}
.button.style-3.primary {
  background: #004C9D;
  border-color: #004C9D;
  color: #fff;
}
.button.style-4.primary {
  border-color: #004C9D;
  color: #004C9D;
}
.button.style-5.primary {
  background: #004C9D;
  border-color: #004C9D;
  color: #fff;
}
.button.style-6.primary {
  border-color: #004C9D;
  color: #004C9D;
}
.button.wide {
  width: 100% !important;
}

.btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btn-wrap.pick-btn .style-4:hover,
.btn-wrap.pick-btn .style-4:focus {
  border-color: #004C9D;
  font-weight: 700;
}
.btn-wrap.flex-wrap {
  flex-wrap: wrap;
}
.btn-wrap.flex-wrap > button {
  display: block;
  flex: 1 0 0;
}
.btn-wrap.flex-wrap > button + button {
  margin-left: 0.85rem;
}

/*-------------------------------------------------------------------
	Label
-------------------------------------------------------------------*/
.label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 1.4rem;
}
.label.style-1 {
  line-height: 22px;
  padding: 0 8px;
  background: #444;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #fff;
  min-width: 6rem;
  max-width: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label.style-1.primary {
  background: #004C9D;
}
.label.style-2 {
  line-height: 22px;
  padding: 0 8px;
  background: #fff;
  border: 1px solid #444;
  color: #444;
}
.label.style-2.primary {
  border: 1px solid #004C9D;
  color: #004C9D;
}
.label.style-3 {
  line-height: 22px;
  padding: 0 8px;
  background: #444;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #fff;
  border-radius: 0.4rem;
}
.label.style-3.primary {
  background: #004C9D;
}
.label.style-4 {
  line-height: 22px;
  padding: 0 8px;
  background: #fff;
  border: 1px solid #444;
  color: #444;
  border-radius: 0.8rem;
}
.label.style-4.primary {
  border: 1px solid #004C9D;
  color: #004C9D;
}
.label.style-5 {
  line-height: 22px;
  padding: 0 8px;
  background: #444;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #fff;
  border-radius: 30px;
}
.label.style-5.primary {
  background: #004C9D;
}
.label.style-6 {
  line-height: 22px;
  padding: 0 8px;
  background: #fff;
  border: 1px solid #444;
  color: #444;
  border-radius: 30px;
}
.label.style-6.primary {
  border: 1px solid #004C9D;
  color: #004C9D;
}
.label.texted {
  font-size: 14px;
  line-height: 22px;
}
.label.texted.primary {
  color: #004C9D;
}

.divider {
  display: block;
  border: 0;
  margin: 0;
}
.divider.style-1 {
  height: 4px;
  background-color: #eee;
}
.divider.style-2 {
  height: 6px;
  background-color: #eee;
}
.divider.style-3 {
  height: 8px;
  background-color: #fafafa;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.icon-search1 {
  width: 20px;
  height: 20px;
  background-image: url("../_common/img/caret_down.png");
  background-size: 1.6rem auto;
  background-repeat: no-repeat;
  background-position: calc(100% - 1.5rem), center;
}
.icon-search1.primary {
  background-position: 0 0;
}
.icon-search1.dark {
  background-position: -20px 0;
}
.icon-search1.white {
  background-position: -40px 0;
}
.icon-search1.gray {
  background-position: -60px 0;
}

.form-button {
  height: 45px;
  padding: 0 15px;
  border: 1px solid #ddd;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 2px 0px rgba(200, 200, 200, 0.3);
  font-size: 14px;
  line-height: 22px;
  transition: all 0.3s;
  flex: none;
}
.form-button:hover {
  border-color: #222;
}
.form-button:focus {
  border-color: #004C9D;
  color: #004C9D;
}
.form-button:disabled {
  background-color: #fafafa;
  opacity: 0.75;
}
.form-button:disabled:hover {
  border-color: #999;
  opacity: 0.75;
}

.form-input {
  height: 45px;
  padding: 0 15px;
  border: 1px solid #ddd;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 2px 0px rgba(200, 200, 200, 0.3);
  font-size: 14px;
  line-height: 22px;
  transition: all 0.3s;
}
.form-input:hover {
  border-color: #222;
}
.form-input:focus {
  border-color: #004C9D;
  color: #004C9D;
}
.form-input:disabled {
  background-color: #fafafa;
  opacity: 0.75;
}
.form-input:disabled:hover {
  border-color: #999;
  opacity: 0.75;
}

textarea.form-input {
  height: 45px;
  padding: 0 15px;
  border: 1px solid #ddd;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 2px 0px rgba(200, 200, 200, 0.3);
  font-size: 14px;
  line-height: 22px;
  transition: all 0.3s;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
textarea.form-input.form-input:hover {
  border-color: #222;
}
textarea.form-input.form-input:focus {
  border-color: #004C9D;
  color: #004C9D;
}
textarea.form-input.form-input:disabled {
  background-color: #fafafa;
  opacity: 0.75;
}
textarea.form-input.form-input:disabled:hover {
  border-color: #999;
  opacity: 0.75;
}

.form-select {
  height: 45px;
  padding: 0 15px;
  border: 1px solid #ddd;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 2px 0px rgba(200, 200, 200, 0.3);
  line-height: 22px;
  transition: all 0.3s;
  padding-right: 45px;
  background-image: url("../_common/img/caret_down.png");
  background-size: 1.6rem auto;
  background-repeat: no-repeat;
  background-position: calc(100% - 1.5rem), center;
}
.form-select:hover {
  border-color: #222;
}
.form-select:focus {
  border-color: #004C9D;
  color: #004C9D;
}
.form-select:disabled {
  background-color: #fafafa;
  opacity: 0.75;
}
.form-select:disabled:hover {
  border-color: #999;
  opacity: 0.75;
}

.form-file {
  position: relative;
  display: inline-block;
}

.form-file input[type=file] {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.form-file .file-hide {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.form-file .file-preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 264px;
  height: 124px;
  border: 1px solid #e1e1e1;
}

.form-file .file-preview img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
}

.form-radio {
  display: inline-block;
  position: relative;
  margin: 5px 0;
  line-height: 1;
  vertical-align: middle;
}
.form-radio.v-chk > input:checked + label:before {
  background-color: inherit;
}
.form-radio.v-chk > input:checked + label:after {
  background-color: inherit;
}
.form-radio.v-chk > input:checked + label:before {
  background-image: url("../_common/img/ico_radio_on.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center, center;
  border: none;
}
.form-radio.v-chk > input[disabled] + label:before {
  background-image: url("../_common/img/ico_radio_dis.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center, center;
  border: none;
  background-color: none;
}
.form-radio.v-chk label:before {
  background-image: url("../_common/img/ico_radio_off.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center, center;
}
.form-radio.v-chk > input:hover + label:before, .form-radio.v-chk > input:focus + label:before {
  border: none;
}
.form-radio label {
  display: inline-block;
  position: relative;
  min-width: 20px;
  min-height: 20px;
  font-size: 13px;
  line-height: 18px;
  vertical-align: middle;
}
.form-radio label span {
  display: inline-block;
  padding-left: 28px;
}
.form-radio label:before, .form-radio label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.form-radio label:before {
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 50%;
}
.form-radio > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}
.form-radio + .form-radio {
  margin-left: 10px;
}
.form-radio > input:checked + label:before {
  background-color: #fff;
  border-color: #297EFF;
}
.form-radio > input:checked + label:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #297EFF;
}
.form-radio > input.is-focused + label:before, .form-radio > input:hover + label:before, .form-radio > input:focus + label:before {
  border-color: #888;
}
.form-radio > input:checked:focus + label:before, .form-radio > input:checked:hover + label:before {
  border-color: #297EFF;
  transition: all 0.3s;
}
.form-radio > input[disabled] + label {
  color: #999;
}
.form-radio > input[disabled] + label:before {
  background-color: #f0f0f0;
}
.form-radio > input[disabled]:focus + label:before, .form-radio > input[disabled]:hover + label:before {
  border-color: #ddd;
}
.form-radio > input[disabled]:checked + label:after {
  background: #888;
}
.form-radio > input[disabled]:checked + label:before, .form-radio > input[disabled]:checked:focus + label:before, .form-radio > input[disabled]:checked:hover + label:before {
  border-color: #888;
}
.form-radio > input.is-errored + label {
  color: #f52727;
}
.form-radio > input.is-errored + label:before, .form-radio > input.is-errored.is-focused:checked + label:before, .form-radio > input.is-errored:checked:hover + label:before, .form-radio > input.is-errored:checked:focus + label:before {
  border-color: #f52727;
}
.form-radio > input.is-errored:checked + label:before {
  border-color: #f52727;
}
.form-radio .form-radio > input.is-errored:checked + label:after {
  background-color: #f52727;
}

.form-checkbox {
  display: inline-block;
  position: relative;
  margin: 5px 0;
  line-height: 1;
  vertical-align: middle;
}

.form-checkbox label {
  display: inline-block;
  position: relative;
  min-width: 20px;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
  vertical-align: middle;
}

.form-checkbox label span {
  display: inline-block;
  padding-left: 28px;
}

.form-checkbox label:before,
.form-checkbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

.form-checkbox label:before {
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  background: #fff;
}

.form-checkbox > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}

.form-checkbox + .form-checkbox {
  margin-left: 10px;
}

.form-checkbox > input:checked + label:before {
  border-color: #004C9D;
}

.form-checkbox > input:checked + label:after {
  left: 5px;
  top: 5px;
  width: 10px;
  height: 7px;
  background: none;
  border-left: 2px solid #004C9D;
  border-bottom: 2px solid #004C9D;
  transform: rotate(-45deg);
}

.form-checkbox > input.is-focused + label:before,
.form-checkbox > input:hover + label:before,
.form-checkbox > input:focus + label:before {
  border-color: #888;
}

.form-checkbox > input:checked:focus + label:before,
.form-checkbox > input:checked:hover + label:before {
  border-color: #004C9D;
  transition: all 0.3s;
}

.form-checkbox > input[disabled] + label {
  color: #999;
}

.form-checkbox > input[disabled] + label:before {
  background-color: #f0f0f0;
}

.form-checkbox > input[disabled]:focus + label:before,
.form-checkbox > input[disabled]:hover + label:before {
  border-color: #ddd;
}

.form-checkbox > input[disabled]:checked + label:after {
  border-color: #888;
}

.form-checkbox > input[disabled]:checked + label:before,
.form-checkbox > input[disabled]:checked:focus + label:before,
.form-checkbox > input[disabled]:checked:hover + label:before {
  border-color: #888;
}

.form-checkbox > input.is-errored + label {
  color: #f52727;
}

.form-checkbox > input.is-errored + label:before,
.form-checkbox > input.is-errored.is-focused:checked + label:before,
.form-checkbox > input.is-errored:checked:hover + label:before,
.form-checkbox > input.is-errored:checked:focus + label:before {
  border-color: #f52727;
}

.form-checkbox > input.is-errored:checked + label:before {
  border-color: #f52727;
}

.form-checkbox > input.is-errored:checked + label:after {
  border-color: #f52727;
}

.form-switch + .form-switch {
  margin-left: 10px;
}

.form-switch {
  display: inline-block;
  position: relative;
}
.form-switch label {
  display: inline-block;
  width: 80px;
  vertical-align: top;
}
.form-switch label:before, .form-switch label:after {
  content: "";
}
.form-switch label:before {
  display: inline-block;
  width: 100%;
  height: 30px;
  background-color: #EFF2F9;
  border-radius: 15px;
  vertical-align: top;
}
.form-switch input, .form-switch label:after {
  position: absolute;
  left: 2px;
  top: 50%;
  z-index: 1;
  width: 40px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 13px;
  overflow: hidden;
  background-color: #aaa;
  color: #fff;
  font-size: 12px;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.form-switch input {
  z-index: 0;
  border: 0;
  height: 24px;
}
.form-switch input:checked, .form-switch input:checked + label:after {
  left: calc(100% - 42px);
}
.form-switch input:checked + label:after {
  background-color: #046FD9;
}
.form-switch input + label:after {
  content: "OFF";
}
.form-switch input:checked + label:after {
  content: "ON";
}
.form-switch input[disabled] + label:before {
  background-color: #ddd;
}

.form-label,
.form-text {
  flex: none;
  position: relative;
  padding: 11px 0 11px 0px;
  line-height: 22px;
  vertical-align: middle;
}

.form-label,
span.form-text {
  display: inline-block;
}

.form-label .form-required {
  position: absolute;
  top: 4px;
  right: 5px;
}

.form-split {
  display: inline-block;
  min-width: 24px;
  line-height: 45px;
  text-align: center;
}

.form-alert {
  display: none;
  color: #555;
}

.form-alert.is-visibled {
  display: block;
}

.form-alert.is-errored {
  color: red;
}

.form-alert.is-successed {
  color: #004C9D;
}

.form-desc {
  color: #555;
}

.form-info {
  color: gray;
}

.form.type-row + .form.type-row {
  margin-top: 20px;
}

.form.type-row {
  display: block;
}

.form.type-row .form-content {
  margin-top: 2px;
}

.form.type-row .form-desc,
.form.type-row .form-info,
.form.type-row .form-alert {
  margin-top: 5px;
  line-height: 22px;
}

.form.type-row .form-controls + .form-desc,
.form.type-row .form-controls + .form-info,
.form.type-row .form-controls + .form-alert {
  margin-top: 10px;
}

.form.type-col + .form.type-col {
  margin-top: 20px;
}

.form.type-col {
  display: flex;
  width: 100%;
}

.form.type-col .form-title,
.flexible .form-text {
  width: 5rem;
}

.flexible .form-text {
  margin: 0 8px;
  margin-right: 0;
}
.flexible .form-alert {
  margin: 0 8px;
  margin-right: 0;
}
.flexible .form-alert > p {
  margin-left: 0.8rem;
}
.flexible > .form-input {
  width: calc(33% - 9px);
}

.form.type-col .form-content {
  flex: 1 1 auto;
}

.form.type-col .form-desc,
.form.type-col .form-info,
.form.type-col .form-alert {
  /* margin-top: 5px; */
  line-height: 22px;
}

.form.type-col .form-controls + .form-desc,
.form.type-col .form-controls + .form-info,
.form.type-col .form-controls + .form-alert {
  margin-top: 10px;
}

.form.type-wide + .form.type-wide {
  margin-top: 20px;
}

.form.type-wide {
  display: flex;
}

.form.type-wide .form-title,
.form-title {
  flex: none;
  /* width: 100px; */
}

.form.type-wide .form-content {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
}

.form.type-wide .form-content .form-controls {
  width: auto;
}

.form.type-wide .form-desc,
.form.type-wide .form-info,
.form.type-wide .form-alert {
  flex: none;
  padding-left: 20px;
  line-height: 22px;
}

.form-controls {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.form-controls.flexible .form-select,
.form-controls.flexible .form-input {
  flex: 1 1 auto;
}

.form-controls .form-text {
  margin: 0 8px;
}

.form-controls .form-button {
  margin: 0 8px;
}

.form-controls .form-text:first-child,
.form-controls .form-button:first-child {
  margin-left: 0;
}

.form-controls .form-text:last-child,
.form-controls .form-button:last-child {
  margin-right: 0;
}

.form-controls.type-email2 .form-select {
  width: 47%;
}

.form-controls.type-telNo .form-select,
.form-controls.type-telNo .form-input {
  width: calc(33.333% - 16px);
}

.form-controls.type-email1 .form-input {
  width: calc(50% - 12px);
}

.form-controls.type-email2 .form-select,
.form-controls.type-email2 .form-input {
  width: calc(50% - 12px);
}

.form-controls.type-email3 .form-select {
  width: calc(33% - 9px);
  margin-left: 6px;
}

.form-controls.type-email3 .form-input {
  width: calc(33% - 9px);
}

.form-controls.type-socialNo .form-input {
  width: calc(50% - 12px);
}

.form-controls.type-globalNo .form-input {
  width: calc(50% - 12px);
}

.form-controls.type-corpNo .form-input {
  width: calc(50% - 12px);
}

.form-controls.type-bizNo .form-input {
  width: calc(33.333% - 16px);
}

.form-controls.type-cardNo .form-input {
  width: calc(25% - 18px);
}

.form-controls.type-address {
  flex-direction: column;
}

.form-controls.type-address .row {
  display: flex;
  width: 100%;
}

.form-controls.type-address .row + .row {
  margin-top: 8px;
}

.form-controls.type-address .row .form-input {
  flex-grow: 1;
}

.form-input-group {
  position: relative;
  display: block;
}

.form-input-group .form-input {
  width: 100%;
}

.form-input-group.type-clear {
  width: 100%;
}

.form-input-group.type-clear .button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  height: 30px;
  width: 30px;
  line-height: 30px;
}

.form-input-group.type-clear .form-input {
  padding-right: 40px;
}

.form-input-group.type-search {
  width: 100%;
}

.form-input-group.type-search .button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  height: 30px;
  width: 30px;
  line-height: 30px;
}

.form-input-group.type-search .form-input {
  padding-right: 40px;
}/*# sourceMappingURL=style.css.map */