.primary-color {
  background-color: $main-blue;
  color: $main-blue;
}
.skyblue-color {
  background-color: $main-skyblue;
  color: $main-blue;
}
.sub-red-color {
  background-color: $sub-red;
  color: $main-blue;
}

.cp-color {
  ul {
  @include flex(row, left);
    li {
      @include flex(column);
      
      margin-right: 1rem;
      h1 {
        padding-bottom: 1rem;
        font-size: 1.4rem;
        font-weight: 300;
      }
      span {
        display: inline-block;
        width: 10rem;
        height: 1.5rem;
        /* border-top-left-radius:.5rem;
        border-top-right-radius:.5rem; */
        /* border-radius: .5rem; */
      }
    }
  }
}