<!doctype html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<script src="../_common/js/cp_include.js"></script>
	<script>include.meta()</script>
	<script>include.head()</script>
</head>

<body>
	<div id="g-wrapper">
		<script>include.header()</script>
		<div id="g-container">
			<script>include.aside.init()</script>

			<!-- Content -->
			<article id="g-content">
				<div class="g-content-header">
					<h1 class="g-h1">Button</h1>
					<p class="g-explain-h1">Library Elements</p>
				</div>
				<div class="g-content-body">
					<!-- Section -->
					<section class="g-section g-in-sec">
						<div class="g-section-header">
							<h2 class="g-h2">Styles</h2>
						</div>
						<div class="g-section-body">
							<div class="g-example-wrap">
								<div class="g-example-body">
									<div class="g-example-preview">
										<h3 class="g-h3">Full_BTN</h3>
										<button type="button" class="button style-1 primary wide">확인</button>

										<h3 class="g-h3">sub_BTN</h3>
										<button type="button" class="button style-3 primary wide">확인</button>

										<h3 class="g-h3">sub_LineBTN</h3>
										<button type="button" class="button style-4 wide">
											<strong>확인</strong>
										</button>

										<h3 class="g-h3">pick_btn</h3>
										<div class="btn-wrap flex-wrap pick-btn">
											<button type="button" class="button style-4">예</button>
											<button type="button" class="button style-4">아니오</button>
										</div>

										<h3 class="g-h3">Flat Contained</h3>
										<button type="button" class="button style-1">default</button>
										<button type="button" class="button style-1 primary">Primary</button>
										<button type="button" class="button style-1" disabled>Disabled</button>
										<button type="button" class="button style-1 primary" disabled>Primary</button>

										<h3 class="g-h3">Flat Outlined</h3>
										<button type="button" class="button style-2">default</button>
										<button type="button" class="button style-2 primary">Primary</button>
										<button type="button" class="button style-2" disabled>Disabled</button>
										<button type="button" class="button style-2 primary" disabled>Primary</button>

										<h3 class="g-h3">Round Contained</h3>
										<button type="button" class="button style-3">default</button>
										<button type="button" class="button style-3 primary">Primary</button>
										<button type="button" class="button style-3" disabled>Disabled</button>
										<button type="button" class="button style-3 primary" disabled>Primary</button>

										<h3 class="g-h3">Round Outlined</h3>
										<button type="button" class="button style-4">default</button>
										<button type="button" class="button style-4 primary">Primary</button>
										<button type="button" class="button style-4" disabled>Disabled</button>
										<button type="button" class="button style-4 primary" disabled>Primary</button>

										<h3 class="g-h3">Pill Contained</h3>
										<button type="button" class="button style-5">default</button>
										<button type="button" class="button style-5 primary">Primary</button>
										<button type="button" class="button style-5" disabled>Disabled</button>
										<button type="button" class="button style-5 primary" disabled>Primary</button>

										<h3 class="g-h3">Pill Outlined</h3>
										<button type="button" class="button style-6">default</button>
										<button type="button" class="button style-6 primary">Primary</button>
										<button type="button" class="button style-6" disabled>Disabled</button>
										<button type="button" class="button style-6 primary" disabled>Primary</button>

										<!-- <h3 class="g-h3">Texted</h3>
										<button type="button" class="button text">default</button>
										<button type="button" class="button text primary">Primary</button>
										<button type="button" class="button text" disabled>Disabled</button>
										<button type="button" class="button text primary" disabled>Primary</button> -->
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- //Section -->
				</div>
				<!-- //g-content-body -->
			</article>
			<!-- //Content -->

			<script>include.quick.init()</script>
		</div>
		<script>include.footer()</script>
	</div>
</body>
</html>